.app {
	&__container {
		margin-top: 2rem;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		justify-items: center;
		gap: $gap-big;
		font-size: $font-size-normal;
	}
	&__loading,
	&__error {
		grid-column: 1 / -1;
	}
	&__title {
		grid-column: 1 / -1;
		justify-self: start;
		font-size: 2.5rem;
	}
	&__box {
		@include flexSpaceBetween;
		@include boxStyle;
	}
	&__icon {
		font-size: 3rem;
		color: $color-purple-light;
	}
	&__text {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-end;
		gap: $gap-medium;
	}
	&__spinner {
		font-size: 5rem;
		color: $color-purple-light;
		i {
			text-align: center;
			animation: spinner 2s infinite linear;
		}
	}
	&__error {
		margin-top: 3rem;
		padding: 2rem;
		border-radius: $border-radius-normal;
		background-color: $background-light;
	}
	&__message {
		font-size: $font-size-xl;
		color: $color-error-message;
	}
	&__temperature-value,
	&__rain--value,
	&__sunrise--value,
	&__sunset--value,
	&__min-temperature--value,
	&__max-temperature--value {
		color: $color-purple-light;
		font-weight: 700;
		font-size: $font-size-xl;
	}
}

@keyframes spinner {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (min-width: $large-mobile) {
	.app {
		&__container {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}
