.header {
	padding: 3rem;
	border-radius: $border-radius-normal;
	font-size: $font-size-normal;
	background-color: $background-light;
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__notifications {
		font-size: 2rem;
		color: $color-purple-light;
	}
	&__form {
		position: relative;
	}
	&__input {
		display: block;
		width: 100%;
		margin-top: 3rem;
		padding: 1rem 1.5rem;
		border: none;
		text-align: center;
		background-color: #f1f3f5;
	}
	&__icon {
		position: absolute;
		top: 1rem;
		left: 1rem;
		font-size: 1.8rem;
		color: $color-purple-light;
	}
}
