.header {
	padding: $padding-big;
	border-radius: $border-radius-normal;
	font-size: $font-size-normal;
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__notifications {
		font-size: $font-size-xl;
		color: $color-purple-light;
	}
	&__form {
		position: relative;
	}
	&__input {
		display: block;
		width: 100%;
		margin-top: $margin-big;
		padding: 1rem 1.5rem;
		border: none;
		text-align: center;
		background-color: $background-gray;
	}
	&__icon {
		position: absolute;
		top: 1rem;
		left: 1rem;
		font-size: 1.8rem;
		color: $color-purple-light;
	}
	&__locations {
		font-size: $font-size-normal;
		margin-top: $margin-big;
	}
	&__box {
		margin-top: $margin-medium;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: $gap-small;
	}
	&__city {
		@include button;
	}
	&__my-location {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: $margin-medium;
		@include button;
	}
}

.header .container {
	background-color: $background-light;
}
