@mixin boxStyle {
	width: 100%;
	padding: $padding-big;
	font-size: $font-size-normal;
	border-radius: $border-radius-normal;
	background-color: $background-light;
}

@mixin flexSpaceBetween {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: $gap-medium;
}

@mixin button {
	padding: $padding-small;
	text-align: center;
	font-weight: 500;
	cursor: pointer;
	color: $color-purple-light;
	background-color: $background-gray;
}
