.prediction {
	&__container {
		margin-top: 2rem;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: $gap-big;
		justify-items: center;
		font-size: $font-size-normal;
	}
	&__title {
		grid-column: 1 / -1;
		justify-self: start;
		font-size: 2.5rem;
	}
	&__box {
		@include boxStyle;
	}
	&__day {
		text-align: center;
		font-weight: 500;
	}
	&__text {
		@include flexSpaceBetween;
		font-size: $font-size-xl;
	}
	&__icon {
		width: 5.2rem;
		height: 5.2rem;
	}
	&__temperature {
		font-weight: 700;
		color: $color-purple-light;
	}
}

@media (min-width: $large-mobile) {
	.prediction {
		&__container {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}
