$background-light: #fff;
$background-gray: #f1f3f5;
$color-purple-light: #7950f2;
$color-error-message: #f03e3e;

$font-size-normal: 1.6rem;
$font-size-xl: 2rem;

$border-radius-normal: 1rem;

$margin-small: 1rem;
$margin-medium: 2rem;
$margin-big: 3rem;

$padding-small: 1rem;
$padding-medium: 2rem;
$padding-big: 3rem;

$gap-small: 1rem;
$gap-medium: 2rem;
$gap-big: 3rem;

$large-mobile: 36em;
$small-desktop: 62em;
